.loud {
    color:brown; 
}

body {
    background-image: url(/imgs/karatekid.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}